/* PHASE 2: Notifications */

.badge {
  color: white;
  background-color: black;
  border-radius: 15px;
  padding: 2px 6px;
}

.header-list-item {
  position: relative;
  display: flex;
}

.header-notifications {
  top: 38px;
  left: 0;
  display: none;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  color: black;
}

.header-notifications li {
  padding: 10px;
  border-top: 1px solid #eee;
}

.header-notifications li:hover {
  background-color: white;
}

.header-list-item:hover .header-notifications{
  display: block;
  justify-content: center;
  white-space: 5px 10px 20px;
}
