body {
  color: #789595;
  background-color: #424949;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}


h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

ol {
  list-style: lower-roman;
}

.ingredients-list {
  list-style: square inside;
}

header > img {
  width: 100px;
}

ul li a{
  text-decoration: none;
  color: inherit;
}

input[type="radio"] {
  background-image: url(../assets/star.png);
}

#reviews form input:last-child {
  background-color: gold;
}

#reviews form input:last-child:hover{
  -webkit-filter: brightness(90%);
}

#directions li:nth-of-type(2n) {
  background-color: LightGrey;
}

h2 + .user_review {
  border-top: 1px solid black;
}

nav li {
  display: inline-block;
}


nav li a {
  display: inherit;
  padding: 20px;
}

header img {
  float: left;
}

body {
  margin: 0 auto;
  width: 900px;
}

main section{
  display: inline-block;
  width: 700px;
}

main aside{
  float: left;
  margin-right: 15px;
  width: 180px;
}

main aside li, #directions li {
  margin: 15px 0px 15px 0px;
}
