<h1>Create New <%= band.name %> Album</h1>

<form class="" action="index.html" method="post">
  <input type="button" name="name" value="">
  <input type="button" name="name" value="">

  <label for="">
    Name:
    <input type="text" name="name" value="">
  </label>

  <label for="">
    <!--# Dynamically create select box -->
  </label>

  <label for="">
    <select name="">
      Studio<option value="option">option</option>
      Live<option value="option">option</option>
    </select>
  </label>

  <label for="">
    <input type="button" name="name" value="">
  </label>

</form>
