<form action="<%= go_to %>" method="<%= method %>">
  <input type="hidden" name="authenticity_token" value=" <%= form_authenticity_token %> ">

  <label for="email">
    <input type="text" name="user[email]" value="">
  </label>

  <label for="password">
    <input type="password" name="user[password]" value="">
  </label>

  <button type="submit" name="submit">submit</button>
</form>
