<h1>Create Account</h1>

<form action="<%= new_user_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="User"></label>
  <input type="text" id="User" name="user[username]" value="">

  <label for="Password"></label>
  <input type="password" id="Password" name="user[password]" value="">

  <input type="submit" name="name" value="Create User">
</form>
