<% cat.persisted? ? action = cat_url(cat) : action = cats_url  %>
<% cat.persisted? ? method = "patch" : method = "post" %>


<form action= "<%= action %>" method= "post">
  <input type="hidden" name="_method" value="<%= method %>">
  <label for="name">
    Name:
    <input type="text" name="cat[name]" value="">
  </label><br><br>

  <label for="sex">
    Sex:
    <input type="radio" name="cat[sex]" value="M">M</input>
    <input type="radio" name="cat[sex]" value="F">F</input>
  </label><br><br>

  <select name= 'cat[color]'>
  Color:
  <option></option>
  <option value="red">Red</option>
  <option value="blue">Blue</option>
  <option value="green">Green</option>
  <option value="magenta">Magenta</option>
  <option value="cyan">Cyan</option>
  <option value="brown">Brown</option>
</select><br><br>

  <label for="birth_day">
    Birth Day:
    <input type="date" name="cat[birth_day]">
  </label><br><br>

  <label for="description">
    Description:
    <textarea name="cat[description]" rows="8" cols="40"></textarea>
  </label><br><br>

  <button type="submit" name="button">Submit</button>
</form>
